* {
	box-sizing: border-box;
}

html {
	font-family: monospace;
}

html,
body,
main {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	flex-direction: row;
	gap: 128px;
	align-items: center;
	justify-content: center;
}

main.full-schedule {
	gap: 32px;
}

h1 {
	margin: 0;
}

.schedule {
	position: relative;
	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: 200px;

	margin-top: 64px;
}

.hour {
	position: relative;
	height: 64px;
}
.hour span {
	position: absolute;
	left: -26px;
	top: -8px;
}
.tick {
	width: 100%;
	border-bottom: 1px solid black;
}
.half-past {
	height: 32px;
}

.course {
	position: absolute;
	left: 0;
	right: 0;

	background-color: blue;
	color: white;
	padding: 4px;
}

.now {
	position: absolute;
	left: 0;
	right: 0;
	border-bottom: 1px solid red;
}

.details {
	display: flex;
	flex-direction: column;
	gap: 64px;
}

.weather,
.date {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.weather > div,
.date > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.weekday-label {
	display: none;

	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	top: -40px;
}

main.full-schedule .weekday-label {
	display: block;
}

.mobile-only {
	display: none;
}

.weather-separator {
	display: inline;
}

/* mobile secon d */
@media (max-width: 600px) {
	main {
		flex-direction: column;
		gap: 64px;
	}
	main.full-schedule {
		margin-top: 32px;
	}

	.mobile-only {
		display: block;
	}

	.weather-separator {
		display: none;
	}
}
